MISSING VALUE ANALYSIS

In [ ]:
pip install pyspark

In [ ]:
import sys
from pyspark.sql import SparkSession, functions, types
from pyspark.context import SparkContext
from pyspark.sql.types import IntegerType,StringType
from pyspark.sql.functions import *
from pyspark.sql.functions import isnan, when, count, col
#ML Algorithms
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler, SQLTransformer
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.mllib.evaluation import BinaryClassificationMetrics
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import LinearSVC

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
path_prefix = "/content/gdrive/MyDrive/cadorsdata"

import sys
sys.path.insert(1, path_prefix)

In [ ]:
import os
totalFiles=0
for base, dirs, files in os.walk('/content/gdrive/MyDrive/cadorsdata'):
    print('Searching in : ',base)
    for Files in files:
        totalFiles += 1
print(totalFiles)

In [ ]:
spark = SparkSession.builder.appName('ETL temp').getOrCreate()
# assert spark.version >= '3.0' # make sure we have Spark 3.0+
spark.sparkContext.setLogLevel('WARN')
sc = spark.sparkContext

In [ ]:
df = spark.read.json('/content/gdrive/MyDrive/cadorsdata/*')

In [ ]:
############ Missing value analysis ################

###1) Occurence Category--> 1139 distinct categories with no NA's
transform_udf=udf(merge,StringType())
temp=df.withColumn('Occurrence Category_merged',transform_udf(col('Occurrence Category')))
print(temp.head(10))
print(temp.filter(col('Occurrence Category_merged')=='NA').count())
print(temp.filter(col('Occurrence Category_merged')=='').count())
temp=temp.select(['Occurrence Category_merged']).distinct()
print(temp.count())
# print(temp.collect())

###2) Occurence Event info--> 144 distinct occurence events combinations with 8021 NA's
transform_udf=udf(merge,StringType())
temp=df.withColumn('Occurrence Event Information_merged',transform_udf(col('Occurrence Event Information')))
print(temp.head(10))
print(temp.filter(col('Occurrence Event Information_merged')=='NA').count())
print(temp.filter(col('Occurrence Event Information_merged')=='').count())
temp=temp.select(['Occurrence Event Information_merged']).distinct()
print(temp.count())
# print(temp.collect())

##3) Month ---- No bad data in date
temp=df.select(['Occurrence Date:'])
print(temp.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                          )).alias(c)
                    for c in temp.columns]).show())
print(temp.head(1))
print(temp.select(col('Occurrence Date:'),month(to_date(col('Occurrence Date:'),"yyyy-MM-dd")).alias('month')).show())

##4) Province ---- 243 bad data , 41 distinct provinces
temp=df.select(['Province:','TC Region:'])
temp=temp.withColumn("GR",when(col('Province:')!='',col('Province:')).otherwise(col('TC Region:')))

print(temp.distinct().count())
# print(temp.collect())
print(temp.select([count(when(col(c).contains('None'),c)).alias(c)
                    for c in temp.columns]).show())
print(temp.select([count(when(col(c).contains('NULL'),c)).alias(c)
                    for c in temp.columns]).show())
print(temp.select([count(when(col(c) == '',c)).alias(c)
                    for c in temp.columns]).show())
print(temp.select([count(when(col(c).isNull(),c)).alias(c)
                    for c in temp.columns]).show())
print(temp.select([count(when(isnan(c),c)).alias(c)
                    for c in temp.columns]).show())

#5) Day or Night ---- Not taking this rather taking hour of incident . Hour
print(temp.select([count(when(col(c) == '',c)).alias(c)
                    for c in temp.columns]).show())

temp=df.select(['Occurrence Time:','Day or Night:'])
temp=temp.withColumn('hour',hour(to_timestamp(substring(col('Occurrence Time:'),1,4),'HHmm')))
temp=temp.withColumn('timestamp',to_timestamp(substring(col('Occurrence Time:'),1,4),'HHmm'))
temp=temp.filter(temp['Day or Night:']=='night-time')
print(temp.groupby('Day or Night:').agg(max('timestamp')).show())
print(temp.groupby('Day or Night:').agg(min('timestamp')).show())

print(temp.show())


##6) Aircraft Features, only 8369 has aircraft involved

featureset2 = aircraft_information1.groupBy('CADORS Number').agg(collect_list('flight_rule').alias('flight_rule'),collect_list('model').alias('model'),collect_list('year_built').alias('year_built'),collect_list('amateur_built').alias('amateur_built'),collect_list('gear_type').alias('gear_type'),collect_list('phase_of_flight').alias('phase_of_flight'),collect_list('damage').alias('damage'),collect_list('operator_type').alias('operator_type'))
# print(featureset2.count())
featureset2=featureset2.withColumn('flight_rule_merged',transform_udf(col('flight_rule'))).withColumn('model_merged',transform_udf(col('model'))).withColumn('year_built_merged',transform_udf(col('year_built'))).withColumn('amateur_built_merged',transform_udf(col('amateur_built'))).withColumn('gear_type_merged',transform_udf(col('gear_type'))).withColumn('phase_of_flight_merged',transform_udf(col('phase_of_flight'))).withColumn('damage_merged',transform_udf(col('damage'))).withColumn('operator_type_merged',transform_udf(col('operator_type')))
# print(featureset2.count())
print(featureset2.head(2))
temp=featureset2.select(['flight_rule_merged','model_merged','year_built_merged','amateur_built_merged','gear_type_merged','phase_of_flight_merged','damage_merged','operator_type_merged'])
print(temp.select([count(when(col(c) == '',c)).alias(c)
                    for c in temp.columns]).show())

temp=temp.select([when(col(c)=="",'NA').otherwise(col(c)).alias(c) for c in temp.columns])
print(temp.head(2))
print(temp.select([count(when(col(c) == '',c)).alias(c)
                    for c in temp.columns]).show())
print(temp.select([count(when(col(c) == 'NA',c)).alias(c)
                    for c in temp.columns]).show())
                   
##7) Weather Features, out of 9000, 6200 if prcp and snow kept , 2500 if wdir is added ################################

temp=weather_df.select(['CADORS Number','prcp','snow'])
# temp=weather_df.select(['CADORS Number','prcp','snow','wdir','wspd','wpgt'])
print(temp.count())
# temp=temp.na.drop()
temp=temp.dropna(how='any')
print(temp.count())
print(temp.select([count(when(col(c).isNull(),c)).alias(c)
                    for c in temp.columns]).show())
print(temp.select([count(when(isnan(c),c)).alias(c)
                    for c in temp.columns]).show())
print(temp.head(2))

CREATING AND WRITING INTERMEDIATRY SPARK DATAFRAMES

In [ ]:
import sys
from pyspark.sql import SparkSession, functions, types
from pyspark.context import SparkContext
from pyspark.sql.types import IntegerType,StringType
from pyspark.sql.functions import *
from pyspark.sql.functions import isnan, when, count, col
#ML Algorithms
from pyspark.ml.clustering import KMeans
from pyspark.ml.evaluation import ClusteringEvaluator
from pyspark.ml import Pipeline
from pyspark.ml.feature import StringIndexer, VectorAssembler, SQLTransformer
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.mllib.evaluation import BinaryClassificationMetrics
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import LinearSVC

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
path_prefix = "/content/gdrive/MyDrive/cadorsdata"

import sys
sys.path.insert(1, path_prefix)

Mounted at /content/gdrive

In [ ]:
import os
totalFiles=0
for base, dirs, files in os.walk('/content/gdrive/MyDrive/cadorsdata'):
    print('Searching in : ',base)
    for Files in files:
        totalFiles += 1
print(totalFiles)

Searching in :  /content/gdrive/MyDrive/cadorsdata
4066

In [ ]:
spark = SparkSession.builder.appName('ETL temp').getOrCreate()
# assert spark.version >= '3.0' # make sure we have Spark 3.0+
spark.sparkContext.setLogLevel('WARN')
sc = spark.sparkContext

In [ ]:
raw_data = spark.read.json('/content/gdrive/MyDrive/cadorsdata/*')
# raw_data = spark.read.json('/content/gdrive/MyDrive/cadorsdata/wx-ffe01746-5818-4e1a-b73d-236ab52fb385.json')

In [ ]:
raw_data1=raw_data.dropDuplicates()
raw_data2=raw_data1.filter(raw_data1['CADORS Number']!='null')
raw_data3=raw_data2.filter(raw_data2['latitude'].isNull()=='False')

In [ ]:
# raw_data3.select(['CADORS Number']).distinct().count()
# raw_data3.count()
# temp=raw_data3.groupBy(raw_data3['CADORS Number']).agg(count("*").alias('cnt'))
# temp.sort(col('cnt').desc()).show()

In [ ]:
print(raw_data3.count())

284365

In [ ]:
raw_data3.printSchema()

root
 |-- AOR Number:: string (nullable = true)
 |-- Aerodrome Name:: string (nullable = true)
 |-- Aircraft Information: struct (nullable = true)
 |    |-- Aircraft Category:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Aircraft Event Information: array (nullable = true)
 |    |    |-- element: array (containsNull = true)
 |    |    |    |-- element: string (containsNull = true)
 |    |-- Amateur Built:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- CARs Subpart:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Country of Registration:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Damage:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Engine Make:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Engine Model:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Engine Type:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Flight #:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Flight Rule:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Foreign Registration:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Gear Type:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Make:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Model:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Operator Type:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Operator:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Owner:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Phase of Flight:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Registration Mark:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |    |-- Year Built:: array (nullable = true)
 |    |    |-- element: string (containsNull = true)
 |-- CADORS Number: string (nullable = true)
 |-- Canadian Aerodrome ID:: string (nullable = true)
 |-- Country:: string (nullable = true)
 |-- Day Or Night:: string (nullable = true)
 |-- Fatalities:: string (nullable = true)
 |-- Injuries:: string (nullable = true)
 |-- Occurrence Category: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- Occurrence Date:: string (nullable = true)
 |-- Occurrence Event Information: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- Occurrence Location:: string (nullable = true)
 |-- Occurrence Summary: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Date: string (nullable = true)
 |    |    |-- Summary: string (nullable = true)
 |-- Occurrence Time:: string (nullable = true)
 |-- Occurrence Type:: string (nullable = true)
 |-- Province:: string (nullable = true)
 |-- Reported By:: string (nullable = true)
 |-- TC Region:: string (nullable = true)
 |-- TSB Class Of Investigation:: string (nullable = true)
 |-- TSB Occurrence No:: string (nullable = true)
 |-- World Area:: string (nullable = true)
 |-- _corrupt_record: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- record_no: long (nullable = true)
 |-- weather: struct (nullable = true)
 |    |-- prcp: double (nullable = true)
 |    |-- pres: double (nullable = true)
 |    |-- snow: double (nullable = true)
 |    |-- tavg: double (nullable = true)
 |    |-- tmax: double (nullable = true)
 |    |-- tmin: double (nullable = true)
 |    |-- tsun: double (nullable = true)
 |    |-- wdir: double (nullable = true)
 |    |-- wpgt: double (nullable = true)
 |    |-- wspd: double (nullable = true)

In [ ]:
#Remove if this full data to be considered
# df=raw_data.filter(col('Occurrence Type:')=='Accident').cache()
df=raw_data3.select(['CADORS Number','Occurrence Type:','Occurrence Category','Occurrence Event Information','Occurrence Date:','Country:','Occurrence Time:','Fatalities:','Injuries:','Occurrence Location:','Province:','TC Region:','latitude','longitude','Aircraft Information'])

In [ ]:
df = df.withColumn('Injuries:', df['Injuries:'].cast(IntegerType()))
df = df.withColumn('Fatalities:', df['Fatalities:'].cast(IntegerType()))
df = df.withColumn('month',month(to_date(col('Occurrence Date:'),"yyyy-MM-dd")))
df = df.withColumn('year',year(to_date(col('Occurrence Date:'),"yyyy-MM-dd")))
df = df.withColumn("GR",when(col('Province:')!='',col('Province:')).otherwise(col('TC Region:')))
df = df.filter(df['Occurrence Time:']!='')
df = df.withColumn('hour',hour(to_timestamp(substring(col('Occurrence Time:'),1,4),'HHmm')))
df = df.withColumn("label", when(col('Fatalities:')+col('Injuries:')>1,1).otherwise(0))

In [ ]:
#Making Aircraft Dataframe
af=df.select(df['CADORS Number'],df['Aircraft Information']).cache()
af=af.withColumn('Flight Rule',af['Aircraft Information']['Flight Rule:']).withColumn('Model',af['Aircraft Information']['Model:']).withColumn('Registration Mark',af['Aircraft Information']['Registration Mark:']).withColumn('Aircraft Category',af['Aircraft Information']['Aircraft Category:']).withColumn('Make',af['Aircraft Information']['Make:']).withColumn('Year Built',af['Aircraft Information']['Year Built:']).withColumn('Amateur Built',af['Aircraft Information']['Amateur Built:']).withColumn('Gear Type',af['Aircraft Information']['Gear Type:']).withColumn('Phase of Flight',af['Aircraft Information']['Phase of Flight:']).withColumn('Damage',af['Aircraft Information']['Damage:']).withColumn('Operator Type',af['Aircraft Information']['Operator Type:'])
ai1=af.select(af['CADORS Number'],posexplode(af['Registration Mark']))
ai2=af.select(af['CADORS Number'],posexplode(af['Model']))
ai5=af.select(af['CADORS Number'],posexplode(af['Flight Rule']))
ai6=af.select(af['CADORS Number'],posexplode(af['Aircraft Category']))
ai8=af.select(af['CADORS Number'],posexplode(af['Make']))
ai10=af.select(af['CADORS Number'],posexplode(af['Year Built']))
ai11=af.select(af['CADORS Number'],posexplode(af['Amateur Built']))
ai15=af.select(af['CADORS Number'],posexplode(af['Gear Type']))
ai16=af.select(af['CADORS Number'],posexplode(af['Phase of Flight']))
ai17=af.select(af['CADORS Number'],posexplode(af['Damage']))
ai19=af.select(af['CADORS Number'],posexplode(af['Operator Type']))
aircraft_information = ai1.join(ai2, ['pos','CADORS Number']).join(ai5, ['pos','CADORS Number']).join(ai6, ['pos','CADORS Number']).join(ai8, ['pos','CADORS Number']).join(ai10, ['pos','CADORS Number']).join(ai11, ['pos','CADORS Number']).join(ai15, ['pos','CADORS Number']).join(ai16, ['pos','CADORS Number']).join(ai17, ['pos','CADORS Number']).join(ai19, ['pos','CADORS Number'])
# print(aircraft_information.show())
aircraft_information1 = aircraft_information.toDF('pos','CADORS Number','registration_mark','model','flight_rule','aircraft_category','make','year_built','amateur_built','gear_type','phase_of_flight','damage','operator_type')
# print(aircraft_information1.show())
aircraft_df=df.select(['CADORS Number','Country:','Occurrence Type:','Occurrence Category','Occurrence Event Information','Occurrence Date:','Fatalities:','Injuries:','Occurrence Location:','Province:','GR','hour','month','label','latitude','longitude']).join(aircraft_information1,['CADORS Number'],how='left')
print(aircraft_df.show(5))

+-------------+--------+----------------+--------------------+----------------------------+----------------+-----------+---------+--------------------+---------+-------+----+-----+-----+----------+-----------+----+-----------------+---------+-----------+-----------------+-----------+----------+-------------+---------+---------------+-------+-------------+
|CADORS Number|Country:|Occurrence Type:| Occurrence Category|Occurrence Event Information|Occurrence Date:|Fatalities:|Injuries:|Occurrence Location:|Province:|     GR|hour|month|label|  latitude|  longitude| pos|registration_mark|    model|flight_rule|aircraft_category|       make|year_built|amateur_built|gear_type|phase_of_flight| damage|operator_type|
+-------------+--------+----------------+--------------------+----------------------------+----------------+-----------+---------+--------------------+---------+-------+----+-----+-----+----------+-----------+----+-----------------+---------+-----------+-----------------+-----------+----------+-------------+---------+---------------+-------+-------------+
|    2000Q0436|  Canada|        Incident|    [ATM/CNS, Other]|        [ATS operating ir...|      2000-08-04|          0|     null|5 milles Ouest de...|   Quebec| Quebec|  11|    8|    0|45.7052945|-73.9560698|   0|                 |DHC 8 102|           |        Aeroplane|DEHAVILLAND|          |           No|     Land|         Cruise|Unknown|   Commercial|
|    2000Q0501|  Canada|        Incident|           [Medical]|                          []|      2000-09-04|          0|     null|Dans la région de...|   Quebec| Quebec|  14|    9|    0|45.5052895|-73.5640756|   0|             GTSV|  757 28A|           |        Aeroplane|     BOEING|      1993|           No|     Land|         Cruise|Unknown|   Commercial|
|    2000Q0590|  Canada|        Incident|             [Other]|                          []|      2000-10-06|          0|     null|Entre Toronto et ...|  Ontario|Ontario|   1|   10|    0|43.6969462|-79.5714473|   0|                 |   L 1011|           |        Aeroplane|   LOCKHEED|          |           No|     Land|          Climb|Unknown|   Commercial|
|    2000Q0679|  Canada|        Incident|[Runway incursion...|        [Incursion - runw...|      2000-11-10|          0|        0|                    |   Quebec| Quebec|   7|   11|    0|52.4760892|-71.8258668|null|             null|     null|       null|             null|       null|      null|         null|     null|           null|   null|         null|
|    2001Q0082|  Canada|        Incident|[Fire/smoke (non-...|                          []|      2001-01-31|          0|     null|       Dorval (CYUL)|   Quebec| Quebec|  23|    1|    0|45.4453082|-73.7510888|   0|             FTLW|   DC9 32|           |        Aeroplane|    DOUGLAS|      1968|           No|     Land|           Taxi|Unknown|   Commercial|
+-------------+--------+----------------+--------------------+----------------------------+----------------+-----------+---------+--------------------+---------+-------+----+-----+-----+----------+-----------+----+-----------------+---------+-----------+-----------------+-----------+----------+-------------+---------+---------------+-------+-------------+
only showing top 5 rows

None

In [ ]:
# print(aircraft_df.count())
# print(aircraft_df.dropDuplicates().count())
aircraft_df.write.json("/content/gdrive/MyDrive/cadorsdata_aircraft_V2/")

In [ ]:
aircraft_df = aircraft_df.withColumn('year',year(to_date(col('Occurrence Date:'),"yyyy-MM-dd")))
# aircraft_df.dtypes
aircraft_df=aircraft_df.na.fill(value=0,subset=["Fatalities:",'Injuries:'])
aircraft_df=aircraft_df.replace('','NA')

In [ ]:
aircraft_df.write.json("/content/gdrive/MyDrive/cadorsdata_aircraft_V3/")

In [ ]:
#Arshdeep Code

data1=aircraft_df.select(aircraft_df['CADORS Number'],
                         aircraft_df['Country:'],
                         aircraft_df['aircraft_category'],
                         aircraft_df['make'],
                         aircraft_df['year_built'],
                         aircraft_df['phase_of_flight'],
                         aircraft_df['operator_type'],
                         aircraft_df['Fatalities:'],
                         aircraft_df['Injuries:'],
                         aircraft_df['Occurrence Category'],
                         aircraft_df['Occurrence Type:'],
                         aircraft_df['month'],
                         aircraft_df['Province:'],
                         aircraft_df['latitude'],
                         aircraft_df['longitude'],
                         aircraft_df['year'],
                         )
# data1.show()
data1.write.json("/content/gdrive/MyDrive/cadorsdata_aircraft_arshdeep_V1/")

In [ ]:
############ Weather Data #############
wdf=raw_data3.select(raw_data3['CADORS Number'],raw_data3['weather'])
wdf1=wdf.join(df.select(['CADORS Number']),['CADORS Number'])
print(wdf1.count())
print(wdf1.select(['CADORS Number']).distinct().count())
weather_df=wdf1.select('CADORS Number', 'weather.*')

In [ ]:
weather_df.show()

+-------------+----+------+-----+-----+-----+-----+----+-----+----+----+
|CADORS Number|prcp|  pres| snow| tavg| tmax| tmin|tsun| wdir|wpgt|wspd|
+-------------+----+------+-----+-----+-----+-----+----+-----+----+----+
|    2000Q0464| 3.0|1004.3|  0.0| 18.1| 22.9| 13.6| NaN|  NaN| NaN| NaN|
|    2000Q0102| 0.0|1020.8|  0.0|  3.4|  5.4|  1.4| NaN|  NaN| NaN| 4.5|
|    2001Q0379| 4.4|   NaN|  0.0|  6.0|  8.0|  4.0| NaN|  NaN| NaN| NaN|
|    1998Q0585| 0.0|1019.1|  0.0|  9.4| 14.1|  4.3| NaN|  NaN| NaN|17.0|
|    2001Q0062| 0.0|   NaN|220.0|-11.3| -1.5|-19.0| NaN|  NaN| NaN| NaN|
|    2007O2592| 0.0|1018.2| 90.0| -4.8| -0.4| -9.1| NaN|  NaN| NaN| 7.6|
|    2000C0173| 2.4|   NaN|190.0|  NaN|-17.2|-22.8| NaN|  NaN| NaN| NaN|
|    2000Q0042| 2.4|1021.1|  0.0|  1.5|  3.0|  0.0| NaN|252.5| NaN|11.6|
|    2000Q0670| 0.0|   NaN|  0.0|  5.3|  8.8|  0.6| NaN|287.8| NaN| 7.6|
|    2006O0046| 1.8|   NaN| 10.0| -0.3|  3.0| -3.5| NaN|  NaN| NaN| NaN|
|    2000O1103| 0.4|1026.3|120.0|-13.8| -8.8|-18.4| NaN|343.1| NaN| 5.6|
|    2000O0448| 3.0|1020.9|  0.0| 12.0| 15.0|  8.6| NaN| 85.2| NaN|17.6|
|    2015P2269| 0.0|1004.9|  0.0|  3.1|  7.2| -1.0| NaN|  NaN| NaN| 8.8|
|    1999C1055| 0.0|1020.3|260.0|  5.1|  8.1|  3.5| NaN|160.8| NaN|31.6|
|    2003O0929| 0.0|1012.7|  NaN| 23.6| 30.0| 18.3| 0.0|  NaN| NaN| 4.0|
|    2009Q2289| 0.0|1020.2|  0.0|  2.7|  4.8|  0.6| NaN|146.4| NaN| 5.5|
|    2003Q0559| 0.0|   NaN|  0.0| 13.7| 16.5| 10.8| NaN|  NaN| NaN| NaN|
|    2000C1207| 1.2|   NaN| 10.0|-25.5|-21.0|-30.0| NaN|  NaN| NaN| NaN|
|    2003C1621| 0.0|1019.1|240.0|-28.1|-27.3|-31.7| NaN| 85.4| NaN| 8.7|
|    2007O0236| 3.8|1014.6|130.0|-13.4|-10.0|-16.7| NaN| 10.0| NaN|23.3|
+-------------+----+------+-----+-----+-----+-----+----+-----+----+----+
only showing top 20 rows